<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>글작성하기(폼태그 제출)</title>
    <!-- head.ejs 인클루드 -->
    <%-include('./include/head')%>

    <style>
      form textarea {
        width: 400px;
        height: 500px;
      }
      h1 {
        text-align: center;
      }

      form {
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 20px;
        padding: 1rem 0;
        margin: 2rem;
      }

      form input[type="text"] {
        width: 400px;
      }

      button {
        border: none;
        border-radius: 10px;
        font-weight: 700;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <!-- header.ejs 인클루드 -->
    <%-include('./include/header')%>
    <h1>글 작성하기</h1>
    <form action="/blog/post" method="post" enctype="multipart/form-data">
      <br />
      <input
        type="text"
        name="title"
        placeholder="글제목을 작성해주세요"
      /><br /><br />
      <textarea name="content" placeholder="내용을 작성해주세요"></textarea
      ><br />
      <input type="file" name="img" /><br /><br />
      <button type="submit">등록</button>
    </form>
  </body>
</html>
