<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>form 배우기</title>
  </head>
  <body>
    <h2>GET 요청</h2>
    <form action="/getForm" method="get">
      <label>
        id:
        <input type="text" name="id" />
      </label>
      <br />
      <label>
        email:
        <input type="email" name="email" required />

        <!-- required 반드시 써야하는 요소에 유효성 검사  -->
      </label>
      <br />
      <label>
        password:
        <input type="password" name="pw" />
      </label>
      <br />

      <button type="button">제출(button type)</button>
      <button>제출(submit type)</button>
    </form>

    <h2>POST 요청</h2>
    <form action="/postForm" method="post">
      <label for="id">ID</label>
      <input
        type="text"
        id="id"
        name="id"
        pattern="^(([a-zA-Z0-9가-힣]),{4,10})$"
        title="아이디는 영어 대소문자, 숫자, 한글로 이루어진 4자 이상 10자 이하여야 합니다"
        placeholder="id를 입력해주세요."
        required
      />
      <br />

      <label for="pw">비밀번호</label>
      <input
        type="password"
        id="pw"
        name="pw"
        pattern="^([a-z0-9]{8,12})$"
        title="비밀번호는 영어 소문자,숫자로 이루어진 8자 이상 12자 이하여야합니다"
        placeholder="비밀번호를 입력해주세요."
        required
      />

      <fieldset>
        <legend>체크박스</legend>
        <label> <input type="checkbox" name="agree" /> 마케팅 동의 </label>
        <br />
        <label>
          <input type="checkbox" name="agree" /> 개인정보 수집 동의
        </label>
        <br />

        <label>
          <input type="checkbox" name="agree" value="이용약관 동의" /> 이용약관
          동의
        </label>
      </fieldset>
    </form>

    <h2>validation</h2>
    <form
      action="/js-form-check"
      method="post"
      name="validationForm"
      target="_blank"
      onsubmit="return checkForm(this)"
    >
      <input
        type="text"
        name="id"
        minlength="1"
        placeholder="id를 입력해주세요"
        title="최소 한글자 이상을 입력해주세요"
        id="input"
      />
      <br />
      <div>우편물 수령 장소</div>
      <label>
        <input type="checkbox" name="mail" value="회사" required /> 회사
      </label>
      <label><input type="checkbox" name="mail" value="자택 " /> 자택</label>
      <input type="submit" value="제출" />
    </form>

    <script>
      function checkForm(form) {
        console.log(form);
        // const form = document.forms["validationForm"];
        // const form = document.forms["네임속성"];

        console.log(form.input); //id참고
        console.log(form.id); //name참조
        // 아이디로 바로 접근 가능,id는 중복되지 않게 늘 설정할것

        // input text창에 아무것도 쓰지 않았다면
        if (form.id.value === "") {
          alert("아이디를 입력해주세요!");

          return false;
          // submit 이벤트를 실행하지 않도록, return false 서버에 보내지 않도록 폴스 뜸
        }

        // 체크박스에서 아무것도 선택되지 않는다면, 체크박스만 신경 라디오는 required달면 됨
        if (form.mail[0].checkd == false && form.mail[1].checkd) {
          alert("우편물 수령장소를 선택해주세요!");
          return false;
        }
      }
    </script>
  </body>
</html>
