.box {
    width: 100px;
    height: 100px;
    /* margin-bottom: 10px; */
    background-color: skyblue;
    border: 1px solid black;
}

.box1:hover {
    width: 200px;
    transition-duration: 1s;
}

.box2:hover {
    /* transform: skew(30deg); */
}

.box3:hover {
    border-radius: 50%;
    margin-left: 200px;
    transition-duration: 1s;
    background-color: plum;
}

.box4:hover {
    transform: perspective(400px)rotateY(180deg) scale(1.5);
    transition-duration: 1s;
    background-color: plum;
}